<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd"> <!-- bean definitions here -->
	<!--&lt;!&ndash; 加载配置文件 &ndash;&gt;
	<context:property-placeholder location="classpath:properties/jdbc.properties"/>
	
	&lt;!&ndash; 配置c3p0连接池 &ndash;&gt;
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc_driverClassName}"/>
		<property name="jdbcUrl" value="${jdbc_url}"/>
		<property name="user" value="${jdbc_username}"/>
		<property name="password" value="${jdbc_password}"/>
	</bean>
	
	&lt;!&ndash; SqlSessionFactory &ndash;&gt;
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="plugins">
			<array>
				<bean class="com.github.pagehelper.PageInterceptor">
					<property name="properties">
						<value>helperDialect=mysql</value>
					</property>
				</bean>
			</array>
		</property>
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
		<property name="mapperLocations" value="classpath*:com/roger/dao/*.xml"/>
		&lt;!&ndash;<property name="mapperLocations" value="classpath:com/roger/dao/*.xml"/>&ndash;&gt;
	</bean>
	
	&lt;!&ndash; mapper扫描器 &ndash;&gt;
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		&lt;!&ndash; 指定扫描的包名 &ndash;&gt;
		<property name="basePackage" value="com.roger.dao"/>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>-->
</beans>